.all {
  display: flex;
  justify-content: space-between;
}

.left,
.middle,
.right {
  height: 80vh;
  width: 32%;
  border: 2px solid black;
  margin: 10px 20px;
  background-color: rgb(186, 183, 183);
  font-size: 25pt;
  text-align: center;
  font-weight: bold;
  box-shadow: 10px 10px 5px rgb(167, 166, 166);
}

.left:hover,
.middle:hover,
.right:hover {
  background-color: rgb(182, 171, 151);
}
