body {
  background-color: rgb(227, 227, 227);
}
.bottom {
  background: url("../Image/login-background.jpg") no-repeat center center fixed;
  height: 80vh;
  padding: 20% 0;
  color: white;
  text-align: center;
  font-size: 3em;
}

#login,
#register {
  border: 5px solid;
  font-size: 1em;
  margin: 1.5em 1em;
  box-shadow: 0 1rem 1rem rgb(92, 92, 92);
}

.register,
.login,
.forget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgb(0, 0, 0);
  z-index: 10;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.forget-new {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#closeL,
#closeR,
#closeReset {
  position: absolute;
  top: 0.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.form-label {
  text-transform: uppercase;
  font-weight: bold;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control:hover {
  background-color: rgb(244, 244, 244);
}
