.row {
  margin: 5px 5px;
}
img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
